<?xml version="1.0"?>
<launch>
    <!--spawn ur10 with gripper to gazebo and opens rviz-->
    <include file="$(find ur10_robot_arm)/launch/ur10_w_gripper.launch" />
    <!--Detect ar marker tag-->
    <include file="$(find ur10_robot_arm)/launch/ar_marker_detect.launch" />
    <!--Generate static transformation for goal target position-->
    <include file="$(find ur10_robot_arm)/launch/target_pose_transform.launch" />
    <!--Launch move group for arm manipulation-->
    <include file="$(find moveit)/launch/move_group.launch" />
    <!--spawn box models to gazebo-->
    <node name="spawn_box" pkg="ur10_robot_arm" type="add_box.py" output="screen"/>
    <!--Object Deviation Service Server-->
    <node name="object_deviation" pkg="ur10_robot_arm" type="stream_camera_server.py" output="screen"/>
    <!--Current Pose Service Server-->
    <node name="current_pose" pkg="ur10_robot_arm" type="endEffectorPose_server.py" output="screen"/>

</launch>
